.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: white;
    padding: 30px 40px;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    position: relative;
    animation: fadeIn 0.3s ease-in-out;
}

.popup-content h2 {
    margin-top: 0;
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}


.popup-content h3{ text-align:center; font-size:1.5rem; font-weight:bold; margin-bottom:1rem }
.popup-content .sub{ font-size:.8rem; text-decoration:italic;  }
.popup-content input{ border:1px solid #ddd; padding:10px; width:100%; margin-bottom:1rem; border-radius:5px }
.popup-content input:focus-visible {
    outline: none;
}
.popup-content a{ color: var(--main-color); font-weight:bold; }

.popup-content button{ background: var(--main-color); color:#fff }
.popup-content button:hover{ color:#fff }

.popup-content form>label{ width:100%; position:relative; }
.popup-content form label.error{ position:absolute; top:11px; right:12px; color:red; font-size:.8rem }
.popup-content form input.error{ border:1px solid red; }


/* Mini popup */
.wechat-mini-popup {
    position: absolute;
    bottom: 100px; /* nổi lên trên nút */
    left: 20px;
    width: 200px;
    background: #fff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.15);
    text-align: center;
    display: none;
    animation: fadeUp .25s ease;
}

.wechat-mini-popup img {
    width: 140px;
    height: auto;
}

.wechat-mini-popup p {
    font-size: 13px;
    margin-top: 5px;
    color: #333;
}

/* Mũi tên chỉ xuống nút */
.wechat-mini-popup::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 30px;
    border-width: 8px 8px 0 8px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



@media (max-width: 480px) {
    .wechat-mini-popup{ right: 20px; }
    .wechat-mini-popup::after{ right:30px }
}